# Node
node_modules/
dist/
*.log
.env
.env.*
!.env.example
coverage/
uploads/

# Flutter / Dart
**/.dart_tool/
**/.packages
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/.idea/
**/*.iml
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/*.jks
**/ios/Pods/
**/web/.last_build_id

# OS / editors
.DS_Store
.vscode/
*.swp
